<html lang="en-US">
     <head>
          <title>Individual Coursework</title>
          <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
          <meta content="utf-8" http-equiv="encoding">
          <script src="https://unpkg.com/vue"></script>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
     </head>

     <body>
         
        <div class= "background" id="app">
            <!-- Beginning -->

            <header>
                <button v-if="cartCheck" v-on:click='showCheckout'>{{ cartItemCount }} <span class="fas fa-cart-plus"></span> Checkout</button>
                <button v-else disabled>{{ cartItemCount }} <span class="fas fa-cart-plus"></span> Checkout</button>

           </header>

           <main>
            <div class = "filter" v-if='showProduct'>

                <h1>Lessons Order</h1>
                <p>Github page:   https://github.com/NabilY169/Coursework-1</p>

                <!-- Search Bar Functionality -->
                <div class="search-bar" > <span class  = "fas fa-search"></span> 
                    <input type="text" v-model="searchText" @change="handleSearch" @keyUp="handleSearch">
               </div>
                



           </main>
           
        </div>
        
        
        <script type="text/javascript">
        var webstore = new Vue({
            el: '#app',
            data: {

            }
        });
        
        </script>

     </body>
     </html>